@charset "UTF-8";

* {
    box-sizing: border-box;
}


body{
    background-color: #6C757D;
    margin: 0;
}

header{
    background-color: #3A3F43;
    padding: 15px 40px;
    position: relative;
    color: white;
    line-height: normal;
}
#headerh2{
    display: inline;
}

#head-img{
    position: absolute;
    display: inline-block;
    outline: 0;
    /* padding: 8px; */
    width: 40px;
    right: 40px;
    vertical-align: middle;
}
#head-img:hover{ }

#sections{
    margin: 20px 40px;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    color: white;
    border: 1px solid black;
}

.nav-tabs{
    border-color: black;
}

.tab-pane{
    background-color: rgba(255, 255, 255, 0.35);
    margin: 15px 0px;
    width: auto; height: 520px;
    border-radius: 15px;
    position: relative;
}


.nav-item{
    width: 20%;
    text-align: center;
}

footer{
    padding: 5px;
    background-color: #3A3F43;
    position: absolute; bottom: 0;
    text-align: center;
    width: 100%;
}

#corp-frame{
    width: 70%; height: 480px;
    border-bottom-left-radius: 15px;
    border:none;
    background-color: rgba(255, 255, 255, 0.35);
    position: absolute;
    bottom: 0; left:0;
    
}

#corplink{
    width: 70%;
}

#corpinfolist{
    width: 30%; height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute; right:0; bottom:0;
    overflow: auto;
    direction:rtl;
}

#corpinfolist::-webkit-scrollbar {
    height: 100px;
    background-color: #6C757D;
}
#corpinfolist::-webkit-scrollbar-thumb {
    background-color: #3A3F43;
}


#basic-addon3{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
}

#basic-url{
    border-radius: 0px;
}